// HEADER :: START

-
  var navItem = [
    "Our Courses",
    "How it works",
    "Contact Us"
  ];

header#header.header
  .container
    .header__wrapper

      .header__row.header__row-0
        .logotype
          img.logotype__img.logotype__img--desktop(
            src="./img/img-logotype.png"
            srcset="./img/img-logotype@2x.png 2x" 
            alt="" 
            title=""
           )
          img.logotype__img.logotype__img--mobile(
            src="./img/img-logotype-mobile.png"
            srcset="./img/img-logotype-mobile@2x.png 2x"
            alt=""
            title=""
           )


      .header__row.header__row-1
        .nav
          ul.nav__list
            each val, idx in navItem
              li.nav__item
                a.nav__link(
                href="#"
                title=""
                class=""
                )!= val


      .header__row.header__row-2
        a(
          href=""
          title=""
          class="nav__link"
        )!= "Sign in"
        a(
          href=""
          title=""
          class="nav__btn btn"
        )!= "Get Started"

// HEADER :: END