// HEADER :: START

-
  var navItem = [
    {
      href : "courses.html",
      name: "Our Courses"
    },
    {
      href : "how-it-works.html",
      name: "How it works"
    },
    {
      href : "faq.html",
      name: "FAQ"
    },
    {
      href : "contacts.html",
      name: "Contact Us"
    }
  ];

header#header.header(class!= contentClassName)
  .container
    .header__wrapper

      .header__row.header__row-0
        .logotype
          a(href="/" title="")
            if(contentClassName === "home")
              img.logotype__img.logotype__img--desktop(
                src="./img/img-logotype.png"
                srcset="./img/img-logotype@2x.png 2x"
                alt=""
                title=""
               )
            else if (contentClassName === "courses")
              img.logotype__img.logotype__img--desktop(
                src="./img/img-logotype--black.png"
                srcset="./img/img-logotype--black@2x.png 2x"
                alt=""
                title=""
               )

          a(href="/" title="")
            img.logotype__img.logotype__img--mobile(
              src="./img/img-logotype-mobile.png"
              srcset="./img/img-logotype-mobile@2x.png 2x"
              alt=""
              title=""
             )

      .header__row.header__row-3
        include ../macros/_hamburger


      .header__row-mobile
        .header__row.header__row-1
          .nav
            ul.nav__list
              each val, idx in navItem
                li.nav__item
                  a.nav__link(
                    href= navItem[idx].href
                    title=""
                    class=""
                  )!= navItem[idx].name


        .header__row.header__row-2
          a(
            href=""
            title=""
            class="nav__link"
          )!= "Sign in"
          a(
            href=""
            title=""
            class="nav__btn btn"
          )!= "Get Started"

// HEADER :: END