// SECTION :: START

section#level.level
  .level__corner

  .level__wrapper

    img.level__img.level__img-0(
      src="./img/img-level-0.png"
      srcset="./img/img-level-0@2x.png 2x"
      alt=""
      title=""
     )

    .level__row.level__row-0
      h1.level__title!= "Forex education for any level"
      p.level__text!= "Each course, ranging from a beginner level through intermediate and culminating in the advanced level, is carefully designed to optimise your knowledge whether you are starting out or a seasoned professional."

      .level__box-wrap
        a(href="#").level__box.level__box-0
          .level__box-container
            i
            p!= "Beginner"

        a(href="#").level__box.level__box-1
          .level__box-container
            i
            p!= "Intermediate"

        a(href="#").level__box.level__box-2
          .level__box-container
            i
            p!= "Advanced"



  .level__row.level__row-1
    .level__img-wrap
      .level__img-wrap--left
      .level__img-wrap--right
        img.level__image.level__image--desktop(
          src="./img/img-level-1.png"
          srcset="./img/img-level-1@2x.png 2x"
          alt=""
          title=""
        )
        img.level__image.level__image--mobile(
          src="./img/img-level-1--mobile.png"
          srcset="./img/img-level-1--mobile@2x.png 2x"
          alt=""
          title=""
        )

    .level__wrapper
      .level__row-left
        p.level__subtitle!= "OUR MISSION"
        p.level__head!= "We are driven by our desire to share our knowledge of the lucrative, exciting world of Forex trading."
        p.level__text!= "And we are ambitious – we want to be the best, offering an <br>unparalleled, world class Forex education to deal with the vagaries of <br>today’s global economy."

      .level__row-right





  .level__row.level__row-2
    .level__img-wrap
      .level__img-wrap--left
        img(
          src="./img/img-level-2.png"
          srcset="./img/img-level-2@2x.png 2x"
          alt=""
          title=""
        )
      .level__img-wrap--right
    .level__wrapper
      .level__row-left
      .level__row-right
        p.level__subtitle!= "WHAT MAKES US DIFFERENT?"
        p.level__head!= "Whether you are an absolute beginner or an experienced trader, IFX Academy will provide the tools to accelerate your growth as a successful trader."
        p.level__text!= "You will be taught to shrewdly manage risk and optimise your rewards. It’s simple: our online Forex training courses and continued support give you the edge. Our results prove it. All you need is passion, a good work ethic and the will to succeed."
        p.level__prehead!= "Register for Free Forex Workshop"
        a(
          href="#"
          title=""
          class="level__btn"
        )!= "Register Now"


// SECTION :: END