// STUDY :: START

section#study.study
  .container
    .study__wrapper

      .study__tabs
        .study__tabs-head
          a(
            href="#"
            title=""
            class="study__tabs-link study__tabs-link--0 is-active"
            data-tabsLink-id="0"
            tabs-link-js
          )!= "study methods"
          a(
            href="#"
            title=""
            class="study__tabs-link study__tabs-link--1"
            data-tabsLink-id="1"
            tabs-link-js
          )!= "study material"
          a(
            href="#"
            title=""
            class="study__tabs-link study__tabs-link--2"
            data-tabsLink-id="2"
            tabs-link-js
          )!= "student collaborations"
          a(
            href="#"
            title=""
            class="study__tabs-link study__tabs-link--3"
            data-tabsLink-id="3"
            tabs-link-js
          )!= "your commitment"

        .study__tabs-body.study__tabs-body--0.is-active(
          data-tabsBody-id="0"
        )
          .study__tabs-body--left
            img(
              src="./img/img-study.png"
              srcset="./img/img-study@2x.png 2x"
              alt=""
              title=""
             )

          .study__tabs-body--right
            p.study__tabs-title!= "Since the course material and assignments are electronically delivered to you, you decide the pace at which you want to complete your modules."
            p.study__tabs-text!= "Obviously, every student has a unique life situation with its own commitments and challenges. It’s a good strategy to work out how much free time you have and how much you can reasonably spend on your course. "

            a.study__tabs-btn(
              href="#"
              title=""
              class=""
            )!= "Start Learning Now"

        .study__tabs-body.study__tabs-body--1(
          data-tabsBody-id="1"
        )
          .study__tabs-body--left
            img(
              src="./img/img-study.png"
              srcset="./img/img-study@2x.png 2x"
              alt=""
              title=""
             )

          .study__tabs-body--right
            p.study__tabs-title!= "Since the course material and assignments are electronically delivered to you, you decide the pace at which you want to complete your modules."
            p.study__tabs-text!= "Obviously, every student has a unique life situation with its own commitments and challenges. It’s a good strategy to work out how much free time you have and how much you can reasonably spend on your course. "

            a.study__tabs-btn(
              href="#"
              title=""
              class=""
            )!= "Start Learning Now"

        .study__tabs-body.study__tabs-body--2(
          data-tabsBody-id="2"
        )
          .study__tabs-body--left
            img(
              src="./img/img-study.png"
              srcset="./img/img-study@2x.png 2x"
              alt=""
              title=""
             )

          .study__tabs-body--right
            p.study__tabs-title!= "Since the course material and assignments are electronically delivered to you, you decide the pace at which you want to complete your modules."
            p.study__tabs-text!= "Obviously, every student has a unique life situation with its own commitments and challenges. It’s a good strategy to work out how much free time you have and how much you can reasonably spend on your course. "

            a.study__tabs-btn(
              href="#"
              title=""
              class=""
            )!= "Start Learning Now"

        .study__tabs-body.study__tabs-body--3(
          data-tabsBody-id="3"
        )
          .study__tabs-body--left
            img(
              src="./img/img-study.png"
              srcset="./img/img-study@2x.png 2x"
              alt=""
              title=""
             )

          .study__tabs-body--right
            p.study__tabs-title!= "Since the course material and assignments are electronically delivered to you, you decide the pace at which you want to complete your modules."
            p.study__tabs-text!= "Obviously, every student has a unique life situation with its own commitments and challenges. It’s a good strategy to work out how much free time you have and how much you can reasonably spend on your course. "

            a.study__tabs-btn(
              href="#"
              title=""
              class=""
            )!= "Start Learning Now"

// STUDY :: END