// MODULE :: START

section#module.module
  .module__wrapper()

    .module__section.module__section-0.visible
      .module__section-head
        a(
          href="#"
          title=""
          class="is-active"
          data-module-id="0"
          module-btn-js
        )!= "Getting started"
        a(
          href="#"
          title=""
          class=""
          data-module-id="1"
          module-btn-js
        )!= "Intermediate"
        a(
          href="#"
          title=""
          class=""
          data-module-id="2"
          module-btn-js
        )!= "Advanced"

      .module__section-body
        .module__section-body--0.is-active(
          data-module-body="0"
        )
          .module__section-body--left
            .module__section-btn
              a(
                href="#" title="" class="is-active"
                data-module-section-btn-id="0"
                data-parent="0"
              )
                div
                  span!= 1
                div
                  p!= "Module 1"
                  p!= "Introduction to the Forex Market"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="1"
                data-parent="0"
              )
                div
                  span!= 2
                div
                  p!= "Module 2"
                  p!= "The Mental Element"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="2"
                data-parent="0"
              )
                div
                  span!= 3
                div
                  p!= "Module 3"
                  p!= "Roadmap to Success"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="3"
                data-parent="0"
              )
                div
                  span!= 4
                div
                  p!= "Module 4"
                  p!= "Trading Ways and Means"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="4"
                data-parent="0"
              )
                div
                  span!= 5
                div
                  p!= "Module 5"
                  p!= "Key players in the financial game"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="5"
                data-parent="0"
              )
                div
                  span!= 6
                div
                  p!= "Module 6"
                  p!= "The Mental Element"

          .module__section-body--right
            .module__section-content.is-active(data-module-section-content-id="0")
              p.module__section-badge!= "Module 1"
              p.module__section-title!= "Roadmap to Success"
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
              p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
              p.module__section-text!= "You are taught how to make money as a Forex trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-content(data-module-section-content-id="1")
              p.module__section-badge!= "Module 2"
              p.module__section-title!= "Roadmap to Success"
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
              p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
              p.module__section-text!= "You are taught how to make money as a Forex trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-content(data-module-section-content-id="2")
              p.module__section-badge!= "Module 3"
              p.module__section-title!= "Roadmap to Success"
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
              p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
              p.module__section-text!= "You are taught how to make money as a Forex trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-content(data-module-section-content-id="3")
              p.module__section-badge!= "Module 4"
              p.module__section-title!= "Roadmap to Success"
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
              p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
              p.module__section-text!= "You are taught how to make money as a Forex trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-content(data-module-section-content-id="4")
              p.module__section-badge!= "Module 5"
              p.module__section-title!= "Roadmap to Success"
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
              p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
              p.module__section-text!= "You are taught how to make money as a Forex trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-content(data-module-section-content-id="5")
              p.module__section-badge!= "Module 6"
              p.module__section-title!= "Roadmap to Success"
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
              p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
              p.module__section-text!= "You are taught how to make money as a Forex trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"

        .module__section-body--1(
          data-module-body="1"
        )
          .module__section-body--left
            .module__section-btn
              a(
                href="#" title="" class="is-active"
                data-module-section-btn-id="0"
                data-parent="1"
              )
                div
                  span!= 1
                div
                  p!= "Module 1"
                  p!= "Introduction to the Forex Market"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="1"
                data-parent="1"
              )
                div
                  span!= 2
                div
                  p!= "Module 2"
                  p!= "The Mental Element"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="2"
                data-parent="1"
              )
                div
                  span!= 3
                div
                  p!= "Module 3"
                  p!= "Roadmap to Success"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="3"
                data-parent="1"
              )
                div
                  span!= 4
                div
                  p!= "Module 4"
                  p!= "Trading Ways and Means"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="4"
                data-parent="1"
              )
                div
                  span!= 5
                div
                  p!= "Module 5"
                  p!= "Key players in the financial game"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="5"
                data-parent="1"
              )
                div
                  span!= 6
                div
                  p!= "Module 6"
                  p!= "The Mental Element"

          .module__section-body--right
            .module__section-content.is-active(data-module-section-content-id="0")
              p.module__section-badge!= "Module 1"
              p.module__section-title!= "Roadmap to Success"
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
              p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
              p.module__section-text!= "You are taught how to make money as a Forex trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-content(data-module-section-content-id="1")
              p.module__section-badge!= "Module 2"
              p.module__section-title!= "Roadmap to Success"
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
              p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
              p.module__section-text!= "You are taught how to make money as a Forex trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-content(data-module-section-content-id="2")
              p.module__section-badge!= "Module 3"
              p.module__section-title!= "Roadmap to Success"
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
              p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
              p.module__section-text!= "You are taught how to make money as a Forex trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-content(data-module-section-content-id="3")
              p.module__section-badge!= "Module 4"
              p.module__section-title!= "Roadmap to Success"
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
              p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
              p.module__section-text!= "You are taught how to make money as a Forex trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-content(data-module-section-content-id="4")
              p.module__section-badge!= "Module 5"
              p.module__section-title!= "Roadmap to Success"
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
              p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
              p.module__section-text!= "You are taught how to make money as a Forex trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-content(data-module-section-content-id="5")
              p.module__section-badge!= "Module 6"
              p.module__section-title!= "Roadmap to Success"
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
              p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
              p.module__section-text!= "You are taught how to make money as a Forex trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"

        .module__section-body--2(
          data-module-body="2"
        )
          .module__section-body--left
            .module__section-btn
              a(
                href="#" title="" class="is-active"
                data-module-section-btn-id="0"
                data-parent="2"
              )
                div
                  span!= 1
                div
                  p!= "Module 1"
                  p!= "Introduction to the Forex Market"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="1"
                data-parent="2"
              )
                div
                  span!= 2
                div
                  p!= "Module 2"
                  p!= "The Mental Element"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="2"
                data-parent="2"
              )
                div
                  span!= 3
                div
                  p!= "Module 3"
                  p!= "Roadmap to Success"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="3"
                data-parent="2"
              )
                div
                  span!= 4
                div
                  p!= "Module 4"
                  p!= "Trading Ways and Means"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="4"
                data-parent="2"
              )
                div
                  span!= 5
                div
                  p!= "Module 5"
                  p!= "Key players in the financial game"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="5"
                data-parent="2"
              )
                div
                  span!= 6
                div
                  p!= "Module 6"
                  p!= "The Mental Element"

          .module__section-body--right
            .module__section-content.is-active(data-module-section-content-id="0")
              p.module__section-badge!= "Module 1"
              p.module__section-title!= "Roadmap to Success"
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
              p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
              p.module__section-text!= "You are taught how to make money as a Forex trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-content(data-module-section-content-id="1")
              p.module__section-badge!= "Module 2"
              p.module__section-title!= "Roadmap to Success"
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
              p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
              p.module__section-text!= "You are taught how to make money as a Forex trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-content(data-module-section-content-id="2")
              p.module__section-badge!= "Module 3"
              p.module__section-title!= "Roadmap to Success"
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
              p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
              p.module__section-text!= "You are taught how to make money as a Forex trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-content(data-module-section-content-id="3")
              p.module__section-badge!= "Module 4"
              p.module__section-title!= "Roadmap to Success"
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
              p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
              p.module__section-text!= "You are taught how to make money as a Forex trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-content(data-module-section-content-id="4")
              p.module__section-badge!= "Module 5"
              p.module__section-title!= "Roadmap to Success"
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
              p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
              p.module__section-text!= "You are taught how to make money as a Forex trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-content(data-module-section-content-id="5")
              p.module__section-badge!= "Module 6"
              p.module__section-title!= "Roadmap to Success"
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
              p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
              p.module__section-text!= "You are taught how to make money as a Forex trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"


// MODULE :: END