// MODULE :: START

section#module.module(
  data-depth="0.45"
)
  .module__wrapper

    .module__section.module__section-0.visible
      .module__section-head
        a(
          href="#"
          title=""
          class="is-active"
          data-module-id="0"
          module-btn-js
        )!= "Getting started"
        a(
          href="#"
          title=""
          class=""
          data-module-id="1"
          module-btn-js
        )!= "Intermediate"
        a(
          href="#"
          title=""
          class=""
          data-module-id="2"
          module-btn-js
        )!= "Advanced"

      .module__section-body
        .module__section-body--0.is-active(
          data-module-body="0"
        )
          .module__section-body--left
            .module__section-btn
              a(
                href="#" title="" class="is-active"
                data-module-section-btn-id="0"
                data-parent="0"
              )
                div
                  span!= 1
                div
                  p!= "Module 1"
                  p!= "Introduction to the Forex Market"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="1"
                data-parent="0"
              )
                div
                  span!= 2
                div
                  p!= "Module 2"
                  p!= "The Mental Element"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="2"
                data-parent="0"
              )
                div
                  span!= 3
                div
                  p!= "Module 3"
                  p!= "Roadmap to Success"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="3"
                data-parent="0"
              )
                div
                  span!= 4
                div
                  p!= "Module 4"
                  p!= "Trading Ways and Means"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="4"
                data-parent="0"
              )
                div
                  span!= 5
                div
                  p!= "Module 5"
                  p!= "Key players in the financial game"
              //- a(
              //-   href="#" title="" class=""
              //-   data-module-section-btn-id="5"
              //-   data-parent="0"
              //- )
              //-   div
              //-     span!= 6
              //-   div
              //-     p!= "Module 6"
              //-     p!= "The Mental Element"

          .module__section-body--right
            h1!= "Getting started"
            .module__section-btn
              a(
                href="#" title="" class=""
                data-module-section-btn-id="0"
                data-parent="0"
              )
                div
                  span!= 1
                div
                  p!= "Module 1"
                  p!= "Introduction to the Forex Market"
            .module__section-content.is-active(data-module-section-content-id="0")
              p.module__section-badge!= "MODULE 1"
              p.module__section-title!= "INTRODUCTION TO THE FOREX MARKET "
              p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified. You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex. You are taught how to make money as a Forex trader. "
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-btn
              a(
              href="#" title="" class=""
              data-module-section-btn-id="1"
              data-parent="0"
              )
                div
                  span!= 2
                div
                  p!= "Module 2"
                  p!= "The Mental Element"
            .module__section-content(data-module-section-content-id="1")
              p.module__section-badge!= "MODULE 2"
              p.module__section-title!= "THE MENTAL ELEMENT"
              p.module__section-text!= "This module teaches you, the trader, to identify and acknowledge the role of emotion in your decision-making processes. You will be taught what mechanical trading systems are and how they counter harmful emotions such as fear and stress. Ultimately, you will learn to set trading goals and change both your attitude and lifestyle to trade regularly and effectively."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-btn
              a(
              href="#" title="" class=""
              data-module-section-btn-id="2"
              data-parent="0"
              )
                div
                  span!= 3
                div
                  p!= "Module 3"
                  p!= "Roadmap to Success"
            .module__section-content(data-module-section-content-id="2")
              p.module__section-badge!= "MODULE 3"
              p.module__section-title!= "ROADMAP TO SUCCESS"
              p.module__section-text!= "This module guides you through the steps to create and trade your own trading plan and includes a template to get you started."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-btn
              a(
              href="#" title="" class=""
              data-module-section-btn-id="3"
              data-parent="0"
              )
                div
                  span!= 4
                div
                  p!= "Module 4"
                  p!= "Trading Ways and Means"
            .module__section-content(data-module-section-content-id="3")
              p.module__section-badge!= "MODULE 4"
              p.module__section-title!= "TRADING WAYS AND MEANS"
              p.module__section-text!= "Module 4 gives you a basic understanding of the factors and indicators that influence a Fundamental Analysis, and the role of interest rates. This module involves a comprehensive discussion of how the Forex is linked to financial and socio-political factors and how political disaster impacts on the Forex market. "
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-btn
              a(
              href="#" title="" class=""
              data-module-section-btn-id="4"
              data-parent="0"
              )
                div
                  span!= 5
                div
                  p!= "Module 5"
                  p!= "Key players in the financial game"
            .module__section-content(data-module-section-content-id="4")
              p.module__section-badge!= "MODULE 5"
              p.module__section-title!= "KEY PLAYERS IN THE FINANCIAL GAME"
              p.module__section-text!= "You will learn that trading is a financial game with two opponents, the Bulls and Bears who fight to score points, while traders try to capture pips. You’ll discover how to find support and resistance and why you need it. This module explains how, when support becomes resistance you sell it, and when resistance becomes support, you buy it. You will be taught how to profit take and exit the market before it hits support or resistance."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            //- .module__section-btn
            //-   a(
            //-   href="#" title="" class=""
            //-   data-module-section-btn-id="5"
            //-   data-parent="0"
            //-   )
            //-     div
            //-       span!= 6
            //-     div
            //-       p!= "Module 6"
            //-       p!= "The Mental Element"
            //- .module__section-content(data-module-section-content-id="5")
            //-   p.module__section-badge!= "Module 6"
            //-   p.module__section-title!= "Roadmap to Success"
            //-   p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
            //-   p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
            //-   p.module__section-text!= "You are taught how to make money as a Forex trader."
            //-   a(
            //-     href="#" title="" class="module__section-link"
            //-   )!= "Start Learning Now"

        .module__section-body--1(
          data-module-body="1"
        )
          .module__section-body--left
            .module__section-btn
              a(
                href="#" title="" class="is-active"
                data-module-section-btn-id="0"
                data-parent="1"
              )
                div
                  span!= 1
                div
                  p!= "Module 6"
                  p!= "How to avoid costly trading mistakes"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="1"
                data-parent="1"
              )
                div
                  span!= 2
                div
                  p!= "Module 7"
                  p!= "Head & Shoulders"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="2"
                data-parent="1"
              )
                div
                  span!= 3
                div
                  p!= "Module 8"
                  p!= "The Ultimate traders Toolbox"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="3"
                data-parent="1"
              )
                div
                  span!= 4
                div
                  p!= "Module 9"
                  p!= "Mechanics of covergences and divergences"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="4"
                data-parent="1"
              )
                div
                  span!= 5
                div
                  p!= "Module 10"
                  p!= "Trends and Trendlines"
              //- a(
              //-   href="#" title="" class=""
              //-   data-module-section-btn-id="5"
              //-   data-parent="1"
              //- )
              //-   div
              //-     span!= 6
              //-   div
              //-     p!= "Module 6"
              //-     p!= "The Mental Element"

          .module__section-body--right
            h1!= "Intermediate"
            .module__section-btn
              a(
              href="#" title="" class=""
              data-module-section-btn-id="0"
              data-parent="1"
              )
                div
                  span!= 1
                div
                  p!= "Module 6"
                  p!= "HOW TO AVOID COSTLY TRADING MISTAKES"
            .module__section-content.is-active(data-module-section-content-id="0")
              p.module__section-badge!= "Module 6"
              p.module__section-title!= "HOW TO AVOID COSTLY TRADING MISTAKES"
              p.module__section-text!= "In Forex Trading Risk Management is a critical area to focus on to maintain your trading capital. Speculating as a trader is not gambling. The difference between gambling and speculating is risk management. In this section you will learn the importance of how to calculate Trade Sizing and use the right Risk: Reward Ratio. We will cover all these new terms in depth."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-btn
              a(
              href="#" title="" class=""
              data-module-section-btn-id="1"
              data-parent="1"
              )
                div
                  span!= 2
                div
                  p!= "Module 7"
                  p!= "HEAD & SHOULDERS"
            .module__section-content(data-module-section-content-id="1")
              p.module__section-badge!= "Module 7"
              p.module__section-title!= "HEAD & SHOULDERS"
              p.module__section-text!= "You will be taught to identify a trading pattern known as a Head & Shoulder and how it may become the reversal of a trend. This module identifies the five steps associated with the formation of this pattern and how to trade it "
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-btn
              a(
              href="#" title="" class=""
              data-module-section-btn-id="2"
              data-parent="1"
              )
                div
                  span!= 3
                div
                  p!= "Module 8"
                  p!= "THE ULTIMATE TRADERS TOOLBOX"
            .module__section-content(data-module-section-content-id="2")
              p.module__section-badge!= "Module 8"
              p.module__section-title!= "THE ULTIMATE TRADERS TOOLBOX"
              p.module__section-text!= "This module is concerned with technical indicators, giving an overview of the mathematical tools that are available to the Technical Analyst. "
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-btn
              a(
              href="#" title="" class=""
              data-module-section-btn-id="3"
              data-parent="1"
              )
                div
                  span!= 4
                div
                  p!= "Module 9"
                  p!= "MECHANICS OF COVERGENCES AND DIVERGENCES"
            .module__section-content(data-module-section-content-id="3")
              p.module__section-badge!= "Module 9"
              p.module__section-title!= "MECHANICS OF COVERGENCES AND DIVERGENCES"
              p.module__section-text!= "This module is aimed at giving you a basic understanding of convergences and divergences and the valuable purpose it serves in your trading arsenal."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-btn
              a(
              href="#" title="" class=""
              data-module-section-btn-id="4"
              data-parent="1"
              )
                div
                  span!= 5
                div
                  p!= "Module 10"
                  p!= "TRENDS AND TRENDLINES"
            .module__section-content(data-module-section-content-id="4")
              p.module__section-badge!= "Module 10"
              p.module__section-title!= "TRENDS AND TRENDLINES"
              p.module__section-text!= "In this section you will learn what trends lines are and how to identify the types of trends to trade more effectively. We will show you how to identify the up and downward movements on the market and when to enter a trade and how to avoid the common pitfalls most new traders face. In addition, you will learn what cyclicity is and how the market moves to become A more confident & efficient FX trader."
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            //- .module__section-btn
            //-   a(
            //-   href="#" title="" class=""
            //-   data-module-section-btn-id="5"
            //-   data-parent="1"
            //-   )
            //-     div
            //-       span!= 6
            //-     div
            //-       p!= "Module 6"
            //-       p!= "The Mental Element"
            //- .module__section-content(data-module-section-content-id="5")
            //-   p.module__section-badge!= "Module 6"
            //-   p.module__section-title!= "Roadmap to Success"
            //-   p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
            //-   p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
            //-   p.module__section-text!= "You are taught how to make money as a Forex trader."
            //-   a(
            //-     href="#" title="" class="module__section-link"
            //-   )!= "Start Learning Now"

        .module__section-body--2(
          data-module-body="2"
        )
          .module__section-body--left
            .module__section-btn
              a(
                href="#" title="" class="is-active"
                data-module-section-btn-id="0"
                data-parent="2"
              )
                div
                  span!= 1
                div
                  p!= "Module 11"
                  p!= "The Fibonacci Science"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="1"
                data-parent="2"
              )
                div
                  span!= 2
                div
                  p!= "Module 12"
                  p!= "Consolidation and Fundamental analysis"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="2"
                data-parent="2"
              )
                div
                  span!= 3
                div
                  p!= "Module 13"
                  p!= "Japanese Candlesticks"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="3"
                data-parent="2"
              )
                div
                  span!= 4
                div
                  p!= "Module 14"
                  p!= "Pattern Formations"
              a(
                href="#" title="" class=""
                data-module-section-btn-id="4"
                data-parent="2"
              )
                div
                  span!= 5
                div
                  p!= "Module 15"
                  p!= "Trending or Trading?"
              //- a(
              //-   href="#" title="" class=""
              //-   data-module-section-btn-id="5"
              //-   data-parent="2"
              //- )
              //-   div
              //-     span!= 6
              //-   div
              //-     p!= "Module 6"
              //-     p!= "The Mental Element"

          .module__section-body--right
            h1!= "Advanced"
            .module__section-btn
              a(
              href="#" title="" class=""
              data-module-section-btn-id="0"
              data-parent="2"
              )
                div
                  span!= 1
                div
                  p!= "Module 11"
                  p!= "THE FIBONACCI SCIENCE"
            .module__section-content.is-active(data-module-section-content-id="0")
              p.module__section-badge!= "Module 11"
              p.module__section-title!= "THE FIBONACCI SCIENCE"
              p.module__section-text!= "This module identifies the natural movement of the market, the natural laws and the numerical sequence that governs our universe and the market. It introduces the Fibonacci retracement and extension numbers, teaching you how to trade the Fibonacci numbers for profit. You will learn how to create a Fibonacci trading plan based on the natural laws"
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-btn
              a(
              href="#" title="" class=""
              data-module-section-btn-id="1"
              data-parent="2"
              )
                div
                  span!= 2
                div
                  p!= "Module 12"
                  p!= "CONSOLIDATION AND FUNDAMENTAL ANALYSIS"
            .module__section-content(data-module-section-content-id="1")
              p.module__section-badge!= "Module 12"
              p.module__section-title!= "CONSOLIDATION AND FUNDAMENTAL ANALYSIS"
              p.module__section-text!= "This module explains why the market consolidates and how to identify consolidation or sideways movement. You will learn where fundamental announcements are located. A guide teaches one how to straddle consolidation and how to create a straddle trading plan and trade it. You will be taught how to avoid Bull and Bear traps and how to profit take by means of several strategies. "
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-btn
              a(
              href="#" title="" class=""
              data-module-section-btn-id="2"
              data-parent="2"
              )
                div
                  span!= 3
                div
                  p!= "Module 13"
                  p!= "JAPANESE CANDLESTICKS"
            .module__section-content(data-module-section-content-id="2")
              p.module__section-badge!= "Module 13"
              p.module__section-title!= "JAPANESE CANDLESTICKS"
              p.module__section-text!= "This module teaches you how to read a trading chart and introduces the technicalities associated with Japanese candlesticks. It discusses how Japanese candlesticks give buy and sell signals and teaches you to find stars, engulfing and tweezer candlestick formations. You will learn how to trade a candlestick formation: where to get in, where to get out and why. After this module, you will be able to create a trading plan when you spot a candlestick formation and trade that plan. "
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-btn
              a(
              href="#" title="" class=""
              data-module-section-btn-id="3"
              data-parent="2"
              )
                div
                  span!= 4
                div
                  p!= "Module 14"
                  p!= "PATTERN FORMATIONS"
            .module__section-content(data-module-section-content-id="3")
              p.module__section-badge!= "Module 14"
              p.module__section-title!= "PATTERN FORMATIONS"
              p.module__section-text!= "You will learn how to find an up and down price swing, why patterns form, and how to find and draw a pattern. The module identifies that the markets consolidate in a natural .618/.786 Fibonacci ratio sequence. You will learn how to locate a pattern’s buy and sell zones and how to trade it. "
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            .module__section-btn
              a(
              href="#" title="" class=""
              data-module-section-btn-id="4"
              data-parent="2"
              )
                div
                  span!= 5
                div
                  p!= "Module 15"
                  p!= "TRENDING OR TRADING"
            .module__section-content(data-module-section-content-id="4")
              p.module__section-badge!= "Module 15"
              p.module__section-title!= "TRENDING OR TRADING"
              p.module__section-text!= "The module identifies the difference between a trading day and a trending day, teaching participants how to scalp trades in the market on both days. It provides a useful guide to the location of fundamental announcements. In terms of consolidation, it teaches you how to recognise consolidation and sideways movement. You will learn how to straddle that consolidation before the announcement is read and when to place your order prior to the fundamental announcement. "
              a(
                href="#" title="" class="module__section-link"
              )!= "Start Learning Now"
            //- .module__section-btn
            //-   a(
            //-   href="#" title="" class=""
            //-   data-module-section-btn-id="5"
            //-   data-parent="2"
            //-   )
            //-     div
            //-       span!= 6
            //-     div
            //-       p!= "Module 6"
            //-       p!= "The Mental Element"
            //- .module__section-content(data-module-section-content-id="5")
            //-   p.module__section-badge!= "Module 6"
            //-   p.module__section-title!= "Roadmap to Success"
            //-   p.module__section-text!= "Module 1 involves a comprehensive explanation of what the Forex is and how to trade it. As sites of speculator trading, the similarities between the Forex market and stock, bond, commodity and futures markets are identified."
            //-   p.module__section-text!= "You will be taught that Forex movement (up, down or sideways) is the same as any other market. Students will be familiarised with the different types of orders used to trade the Forex and how to place a trade on the Forex."
            //-   p.module__section-text!= "You are taught how to make money as a Forex trader."
            //-   a(
            //-     href="#" title="" class="module__section-link"
            //-   )!= "Start Learning Now"


// MODULE :: END